html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #ac2e2e !important;
}


table th a{
	color: #ac2e2e;
}

table th a:hover{
	color: #db4646;
}

.btn-success, .btn-danger, .btn-info, .btn-primary {
	border: none;
	border-radius: 0;
	background-color: #ac2e2e;
}

.btn-success:hover,
.btn-danger:hover,
.btn-info:hover,
.btn-primary:hover {
	background-color: #db4646;
}

.btn-success:hover:focus,
.btn-danger:hover:focus,
.btn-info:hover:focus,
.btn-primary:hover:focus {
	background-color: #db4646;
}

.navbar {
	background-color: #c0c0c0 !important;
}

.sidebar-toggle:hover {
	background-color: #ccc !important;
}

.logo {
	background-color: #ac2e2e !important;
}

.main-sidebar {
	background-color: #727171 !important;
}


.sidebar-menu a{
	color: #fff !important;
}

.sidebar-menu .header {
	background-color: #353535 !important;
	color: #fff !important;
}

.sidebar-menu li.active a, .sidebar-menu li a:hover {
	background: #454545 !important;
	border-left-color: #ac2e2e !important;
}

.works label {
    min-height: 39px;
    font-size: 0.9em;
}
#work-btn_submit {
    margin-top: 44px !important;
}
.works .work-padding{
    padding-left:2px;
    padding-right:2px;
}